<div class="background-container d-flex justify-content-center align-items-center min-vh-100">
  <div class="row w-100" style="max-width: 900px;">

    <!-- Prima parte del jumbotron con titolo "Login" e riflessione -->
    <div class="col-md-6 p-0">
      <div class="jumbotron jumbotron-fluid h-100 d-flex align-items-center rounded-start" style="background-color: #39268F; min-height: 70vh;">
        <div class="container text-center">
          <h1 class="display-4 text-white">Login</h1>
        </div>
      </div>
    </div>

    <!-- Seconda parte del jumbotron con il form di login -->
    <div class="col-md-6 p-0">
      <div class="jumbotron jumbotron-fluid h-100 d-flex align-items-center rounded-end" style="background-color: #D3E6EF; min-height: 70vh;">
        <div class="container">
          <div>
            <form (submit)="login()" class="text-center">
              <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" [(ngModel)]="username" required class="form-control">
              </div>
              <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" [(ngModel)]="password" required class="form-control">
              </div>
              <button type="submit" class="btn btn-primary mt-4">Login</button>
            </form>
            <div *ngIf="error" style="color: red;">{{ error }}</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
