<div class="background-container d-flex justify-content-center align-items-center min-vh-100">
  <div class="row w-100" style="max-width: 900px;">
    <!-- Prima parte del jumbotron -->
    <div class="col-md-6 p-0">
      <div class="jumbotron jumbotron-fluid h-100 d-flex align-items-center rounded-start" style="background-color: #020507; min-height: 70vh;">
        <div class="container text-center">
          <h1 class="display-4 text-white">TriviaDuel</h1>
        </div>
      </div>
    </div>

    <!-- Seconda parte del jumbotron -->
    <div class="col-md-6 p-0">
      <div class="jumbotron jumbotron-fluid h-100 d-flex align-items-center rounded-end" style="background-color: #C56D31; min-height: 70vh;">
        <div class="container d-flex flex-column justify-content-center align-items-center">
          <div class="row w-100 justify-content-center">
            <div class="col-md-8 mb-4 d-flex justify-content-center">
              <a routerLink="/login" class="btn btn-primary btn-lg btn-block rounded-pill" style="height: 60px; font-size: 1.5rem;">Login</a>
            </div>
            <div class="col-md-8 d-flex justify-content-center">
              <a routerLink="/register" class="btn btn-primary btn-lg btn-block rounded-pill" style="height: 60px; font-size: 1.5rem;">Registrati</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
