.background-container {
  background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExMnUxbWlsc3V6eWQ5ODRiZnR5OXQ4YTBzd2kyaGJ1d2tzaG81ajRkMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l1Kui8t10bD5h3Hbi/giphy.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.display-4 {
  -webkit-box-reflect: below 10px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
}